In [ ]:
# импортируем библиотеки
import pandas as pd
from sqlalchemy import create_engine
# создаем подключение к БД 
db_config = {'user': '', # имя пользователя
            'pwd': '', # пароль
            'host': '',
            'port': , # порт подключения
            'db': ''} # название базы данных

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])

engine = create_engine(connection_string)
# формируем запрос к БД
query = '''
           SELECT *
           FROM dash_visits
        '''
# выполняем sql-запрос
dash_visits = pd.io.sql.read_sql(query, con = engine)
# сохраняем сырые данные в файл
dash_visits.to_csv('', index=False)

In [ ]:
dash_visits.head()

   record_id item_topic source_topic age_segment                  dt  visits
0    1040597     Деньги         Авто       18-25 2019-09-24 18:32:00       3
1    1040598     Деньги         Авто       18-25 2019-09-24 18:35:00       1
2    1040599     Деньги         Авто       18-25 2019-09-24 18:54:00       4
3    1040600     Деньги         Авто       18-25 2019-09-24 18:55:00      17
4    1040601     Деньги         Авто       18-25 2019-09-24 18:56:00      27

Презентация  «Анализ взаимодействия пользователей с карточками Яндекс.Дзен» доступна по ссылке:
https://docs.google.com/presentation/d/1jWyMiZmfcSKxYDd9UG4uZXvYL6My-a5LieBrqn9ogy8/edit?usp=sharing

Дашборд «Анализ взаимодействия пользователей с карточками Яндекс.Дзен» доступен по ссылке:
https://public.tableau.com/views/__16513922663760/sheet1?:language=en-US&:display_count=n&:origin=viz_share_link